*.class

# Package Files #
*.jar
*.war
*.ear
HIDDriver/bin
HIDDriver/gen
Android/HIDDriver/.settings
Android/HIDDriver/bin
Android/HIDDriver/gen
Hentai/SpeechPlayer/gen
Hentai/SpeechPlayer/bin
SpeechPlayer/bin
SpeechPlayer/gen
